<%include public/views/header.ejs%>

<header>
    <div class="mobile">
        <div class="expanded text-center" id="header">
            City of Petoskey
        </div>
        <div class="expanded text-left" id="menu">
            <div id="o-wrapper" class="o-wrapper">
                <div class="c-buttons">
                    <button id="c-button--slide-left" class="c-button"><img src="/public/images/bar-icon.png" width="30">Menu</button><span class="text-right" id="login"><a href="login.ejs">Login</a> | <a href="signup.ejs">Create Account</a></span>
                </div>
                <div id="c-mask" class="c-mask"></div>
                <nav id="c-menu--slide-left" class="c-menu c-menu--slide-left">
                    <button class="c-menu__close">&larr; Close Menu</button>
                    <ul class="c-menu__items">
                        <li class="c-menu__item"><a href="/public/views/index.ejs" class="c-menu__link">Home</a></li>
                        <li class="c-menu__item"><a href="/public/views/report.ejs" class="c-menu__link">Report an Infrastructure Issue</a></li>
                        <li class="c-menu__item"><a href="/public/views/parks.ejs" class="c-menu__link">Parks and Rec.</a></li>
                        <li class="c-menu__item"><a href="/public/views/guide.ejs" class="c-menu__link">City Guide</a></li>
                        <li class="c-menu__item"><a href="/public/views/calendar.ejs" class="c-menu__link">Calendar</a></li>
                        <li class="c-menu__item"><a href="/public/views/resources.ejs" class="c-menu__link">Resources</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="desktop">
        <div class="expanded text-center" id="header">
            City of Petoskey
        </div>
        <div class="expanded text-left" style="padding-top: .6rem; padding-bottom: .6rem" id="menu">
            <a style="margin-left: 12px; margin-right: 12px" href="/public/views/report.ejs">Report an Infrastructure Issue</a><a href="/public/views/parks.ejs" style="margin-left: 12px; margin-right: 12px">Parks and Rec.</a><a href="/public/views/report.ejs" style="margin-left: 12px; margin-right: 12px">City Guide</a><a href="/public/views/calendar.ejs" style="margin-left: 12px; margin-right: 12px">Calendar</a><a href="/public/views/resources.ejs" style="margin-left: 12px; margin-right: 12px">Resources</a><span class="text-right" id="login"><a href="/public/views/login.ejs" style="text-shadow:1px 1px 1px #000; margin-left: 100px;">Login</a> | <a href="/public/views/signup.ejs" style="text-shadow:1px 1px 1px #000;">Create Account</a></span>
        </div>
    </div>
</header>

<body>

<iframe src="https://calendar.google.com/calendar/embed?src=40g3bcgm55tblcpddc2k40fol0%40group.calendar.google.com&ctz=America/New_York" style="border: 0; margin-bottom: 120px; margin-left: 10%; margin-right: 10%" width="80%" height="60%" frameborder="0" scrolling="no" class="text-center"></iframe>

<% include public/views/footer.ejs %>