<%include /public/views/header.ejs%>

<header>
    <div class="expanded text-center" id="header">
        City of Petoskey
    </div>
    <div class="expanded text-left" id="menu">
        <div id="o-wrapper" class="o-wrapper">
            <div class="c-buttons">
                <button id="c-button--slide-left" class="c-button"><img src="../images/bar-icon.png" width="30">Menu</button><span class="text-right" id="login"><a href="login.ejs">Login</a> | <a href="signup.ejs">Create Account</a></span>
            </div>
        </div>
        <div id="c-mask" class="c-mask"></div>
        <nav id="c-menu--slide-left" class="c-menu c-menu--slide-left">
            <button class="c-menu__close">&larr; Close Menu</button>
            <ul class="c-menu__items">
                <li class="c-menu__item"><a href="index.ejs" class="c-menu__link">Home</a></li>
                <li class="c-menu__item"><a href="report.ejs" class="c-menu__link">Report an Infrastructure Issue</a></li>
                <li class="c-menu__item"><a href="parks.ejs" class="c-menu__link">Parks and Rec.</a></li>
                <li class="c-menu__item"><a href="guide.ejs" class="c-menu__link">City Guide</a></li>
                <li class="c-menu__item"><a href="calendar.ejs" class="c-menu__link">Calendar</a></li>
                <li class="c-menu__item"><a href="resources.ejs" class="c-menu__link">Resources</a></li>
            </ul>
        </nav>
    </div>
</header>

<body>

<iframe src="https://calendar.google.com/calendar/embed?src=40g3bcgm55tblcpddc2k40fol0%40group.calendar.google.com&ctz=America/New_York" style="border: 0; margin-bottom: 120px" width="420" height="300" frameborder="0" scrolling="no"></iframe>

<% include /public/views/footer.ejs %>