<br>

<div class="footerTop expanded text-center">
    Follow us<br>
    <a href="https://www.facebook.com/PetoskeyArea/"><img src="public/images/fblogo.png" width="50"></a>&nbsp;<a
            href="https://twitter.com/PetoskeyArea/"><img src="public/images/twitter.png" width="50"></a><a
            href="https://www.instagram.com/petoskeyarea/"><img src="public/images/insta.png" width="55"></a><a
            href="https://www.youtube.com/user/PetoskeyArea/"><img src="public/images/youtube.png" width="50"></a>&nbsp;<a
            href="https://www.pinterest.com/petoskeyarea/"><img src="public/images/pinterest.png"
                                                                width="50"></a>&nbsp;<a
            href="http://blog.petoskeyarea.com/"><img src="public/images/blog.png" width="50"></a>
</div>

<div class="expanded footer text-center">
    © 2017 Copyright by Petoskey Area Visitors Bureau • All Rights Reserved.
</div>
<!-- SCRIPTS -->
<script src="public/javascripts/main.js"></script>
</body>
</html>