<%include public/views/header.ejs%>

<<div class="tabOuter text-center medium-centered">
    <div class="tabInner">
        <img src="public/images/road-1.jpg" width="250">
        <div class="tabText">
            Report an Infrastructure Issue
        </div>
    </div>
</div>
<div class="tabOuter text-center medium-centered">
    <div class="tabInner">
        <img src="public/images/park.jpg" width="250">
        <div class="tabText">
            Parks and Rec.
        </div>
    </div>
</div>
<div class="tabOuter text-center medium-centered">
    <div class="tabInner">
        <img src="public/images/downtown.jpg" width="250">
        <div class="tabText">
            City Guide
        </div>
    </div>
</div>
<div class="tabOuter text-center medium-centered">
    <div class="tabInner">
        <img src="public/images/images.jpg" width="250">
        <div class="tabText">
            Calendar
        </div>
    </div>
</div>
<div class="tabOuter text-center medium-centered">
    <div class="tabInner">
        <img src="public/images/stone.jpg" width="250">
        <div class="tabText">
            Resources
        </div>
    </div>
</div>
<br>
<% include public/views/footer.ejs %>