<%include public/views/header.ejs%>

<div class="mobile">
    <header>
        <div class="expanded text-center" id="header">
            City of Petoskey
        </div>
        <div class="expanded text-left" id="menu">
            <div id="o-wrapper" class="o-wrapper">
                <div class="c-buttons">
                    <button id="c-button--slide-left" class="c-button"><img src="/public/images/bar-icon.png" width="30">Menu</button><span class="text-right" id="login"><a href="login.ejs">Login</a> | <a href="signup.ejs">Create Account</a></span>
                </div>
            </div>
            <div id="c-mask" class="c-mask"></div>
            <nav id="c-menu--slide-left" class="c-menu c-menu--slide-left">
                <button class="c-menu__close">&larr; Close Menu</button>
                <ul class="c-menu__items">
                    <li class="c-menu__item"><a href="index.ejs" class="c-menu__link">Home</a></li>
                    <li class="c-menu__item"><a href="/" class="c-menu__link">Home</a></li>
                    <li class="c-menu__item"><a href="report.ejs" class="c-menu__link">Report an Infrastructure Issue</a></li>
                    <li class="c-menu__item"><a href="parks.ejs" class="c-menu__link">Parks and Rec.</a></li>
                    <li class="c-menu__item"><a href="guide.ejs" class="c-menu__link">City Guide</a></li>
                    <li class="c-menu__item"><a href="calendar.ejs" class="c-menu__link">Calendar</a></li>
                    <li class="c-menu__item"><a href="resources.ejs" class="c-menu__link">Resources</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="tabOuter text-center medium-centered">
        <a href="/public/views/report.ejs" class="tabInner">
            <img src="/public/images/road-1.jpg" alt="road" width="250">
            <div class="tabText">
                Report an Infrastructure Issue
            </div>
        </a>
    </div>
    <div class="tabOuter text-center medium-centered">
        <a href="/public/views/parks.ejs" class="tabInner">
            <img src="/public/images/park.jpg" alt="park" width="250">
            <div class="tabText">
                Parks and Rec.
            </div>
        </a>
    </div>
    <div class="tabOuter text-center medium-centered">
        <a href="/public/views/guide.ejs" class="tabInner">
            <img src="/public/images/downtown.jpg" alt="downtown" width="250">
            <div class="tabText">
                City Guide
            </div>
        </a>
    </div>
    <div class="tabOuter text-center medium-centered">
        <a href="/public/views/calendar.ejs" class="tabInner">
            <img src="/public/images/images.jpg" alt="calendar" width="250">
            <div class="tabText">
                Calendar
            </div>
        </a>
    </div>
    <div class="tabOuter text-center medium-centered">
        <a href="/public/views/resources.ejs" class="tabInner">
            <img src="/public/images/stone.jpg" alt="petoskey stone" width="250">
            <div class="tabText">
                Resources
            </div>
        </a>
    </div>

</div>

<div class="desktop">
    <header>
        <div class="expanded text-center" id="header">
            City of Petoskey
        </div>
        <div class="expanded text-left" style="padding-top: .6rem; padding-bottom: .6rem" id="menu">
            <a style="margin-left: 12px; margin-right: 12px" href="/public/views/report.ejs">Report an Infrastructure Issue</a><a href="/public/views/parks.ejs" style="margin-left: 12px; margin-right: 12px">Parks and Rec.</a><a href="/public/views/report.ejs" style="margin-left: 12px; margin-right: 12px">City Guide</a><a href="/public/views/calendar.ejs" style="margin-left: 12px; margin-right: 12px">Calendar</a><a href="/public/views/resources.ejs" style="margin-left: 12px; margin-right: 12px">Resources</a><span class="text-right" id="login"><a href="/public/views/login.ejs" style="text-shadow:1px 1px 1px #000; margin-left: 100px;">Login</a> | <a href="/public/views/signup.ejs" style="text-shadow:1px 1px 1px #000;">Create Account</a></span>
        </div>
    </header>

    <script src="http://code.jquery.com/jquery-latest.js"></script><script language="javascript">'use strict';$(function() {var width = 720; var animationSpeed = 2550; var pause = 4200; var currentSlide = 1;var $slider = $('#slider'); var $slideContainer = $('.slides', $slider); var $slides = $('.slide', $slider); var interval; function startSlider() { interval = setInterval(function() { $slideContainer.animate({'margin-left': '-='+width}, animationSpeed, function() {if (++currentSlide === $slides.length) {currentSlide = 1; $slideContainer.css('margin-left', 0); }});}, pause);} function pauseSlider() {clearInterval(interval);}$slideContainer.on('mouseenter', pauseSlider).on('mouseleave', startSlider);startSlider();});</script><div style="width: 720px; margin: 0 auto;"><div style="position: relative; width: 720px; ">
            <style type="text/css">#gpoy {position: absolute; right:-150px; top:3px; padding: 3px 7px 3px; z-index:99; opacity: 0.6; transition: 1s; }.repper {width: 726px; margin: 0 auto; position: relative; overflow: hidden; border-radius: 0px; }.repper:hover #gpoy {transition: 2s; right:3px; }</style><div class="repper"><div id="gpoy"><A style="font-weight: normal; color: #FFFFFF; text-decoration:none; font-size:7pt; line-height:10px; font-family: arial;" HREF="http://www.123-slideshow.com" TARGET="_blank">HTML Slideshow</A></div><style type="text/css">#slider {width: 720px; height: 400px; border: 3px solid #FFFFFF; border-radius: 0px; overflow: hidden; position: relative;  cursor: hand; cursor: pointer}#slider .slides {width: 5040px; height: 400px;  display: block; margin: 0; padding: 0;}#slider .slide {width: 720px; height: 400px; float: left; list-style-type: none;}.MIW170419 {position: absolute; max-width: 720px; margin: 0px;}.c67301  {position: absolute; bottom: 0px; width:100%;  padding: 12px; background-color: rgba(0, 0, 0, 0.7); color: #FFFFF; font-size:24pt; font-family:Tahoma; text-align:center; line-height:48px; z-index:33; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}</style>

                <div id="slider">
                    <ul class="slides">

                        <li class="slide slide1">
                            <figure class="MIW170419">
                                <IMG SRC="../../123-slideshow/67301-2.jpg">
                            </figure>
                        </li>

                        <li class="slide slide2">
                            <figure class="MIW170419">
                                <IMG SRC="../../123-slideshow/67301-3.jpg">
                            </figure>
                        </li>

                        <li class="slide slide3">
                            <figure class="MIW170419">
                                <IMG SRC="../../123-slideshow/67301-6.jpg">
                            </figure>
                        </li>

                        <li class="slide slide4">
                            <figure class="MIW170419">
                                <IMG SRC="../../123-slideshow/67301-7.jpg">
                            </figure>
                        </li>

                        <li class="slide slide5">
                            <figure class="MIW170419">
                                <IMG SRC="../../123-slideshow/67301-8.jpg">
                            </figure>
                        </li>

                        <li class="slide slide6">
                            <figure class="MIW170419">
                                <IMG SRC="../../123-slideshow/67301-9.jpg">
                            </figure>
                        </li>

                        <li class="slide slide1">
                            <figure class="MIW170419">
                                <IMG SRC="../../123-slideshow/67301-2.jpg">
                            </figure>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div style="display: flex; margin-top: 30px; margin-left: 40px; margin-right: 40px">
        <div style="display: inline-block;"><a class="twitter-timeline" data-height="1900" data-width="2990" data-theme="light" data-link-color="#2B7BB9" href="https://twitter.com/PetoskeyArea">Tweets by PetoskeyArea</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></div>

        <div style="display: inline-block; margin-left: 70px; margin-bottom: 20px; font-size: 22px;"><span class="bodyHeader" style="font-size: 28px;">Welcome to the Petoskey Area</span><br>Along with beautiful beaches, spectacular waterfront settings and an easy-going attitude, our resort communities offer countless things to do and see. They range from laid-back to full-speed ahead, and are sure to bring smile after smile. More than just another pretty place, this is a Michigan treasure.
            <br><br>
            <span class="bodyHeader" style="font-size: 28px;">Spring into Action in the Petoskey Area</span><br>Spring here in northern Michigan means robins, trillium and morel mushrooms. It also means the beginning of the jogging/running/biking season and other outdoor activities meant to strengthen the body and relax the mind.
            The Petoskey Area offers not only a variety of trails and venues for getting in touch with your healthier self, but also hosts several competitive biking, running and swimming events throughout the year. If you love to be outside and be active, this is the place to do it. The views in our lakeside communities of Boyne City, Petoskey, Bay Harbor and Harbor Springs are incredible. When you’re done with your event, the fun’s not over; there’s a wealth of other activities to take part in so you get a well-rounded and fun day that may even end with a million dollar sunset.
            Mark your calendars and book your lodging now so you don’t miss these terrific events. Ready. Set. Go.

            <br><br>May 20 – Run for Their Lives Humane Society 5K Run, Boyne City

            <br><br>May 20 – 28th Annual Zoo-de-Mackinac Bike Tour, Harbor Springs to Mackinac Island

            <br><br>May 27 – Top of Michigan Community Marathon/Half Marathon/10K Run/Walk, Charlevoix, Petoskey, Harbor Springs

            <br><br>June 3 – Dirty Dog Dash, Boyne Falls

            <br><br>June 3 – Harbor Springs Cycling Classic, Harbor Springs

            <br> <br>June 17 – Michigan Mountain Mayhem Spring Classic, Boyne City

            <br><br>July 4 – Watch our calendar of events for 4th of July races, locations vary

            <br><br>July 15 – Bear River Crawl, Petoskey

            <br><br>July 16 –  9th Annual Little Traverse Triathlon, Harbor Springs

            <br><br>July 22 – TriWalloon Triathlon/Duathlon, Walloon Lake Village

            <br><br>August 13 – Petoskey Triathlon, Petoskey

            <br> <br>August 13 – Coastal Crawl, Harbor Springs

            <br><br>August 25-27 – Michigan Mountain Bike Festival, Boyne Falls

            <br><br>August 26 – The Highlander Mountain Bike Race, Harbor Springs

            <br><br>September 3 – Boyne City Triathlon, Boyne City

            <br><br>September 16 – Harbor Springs Cycling Classic, Harbor Springs

            <br><br>September 30 – Little Traverse Half Marathon and 10K Run/Walk, Bay Harbor, Petoskey, Harbor Springs

            <br><br>October 7 – Michigan Mountain Mayhem Gravel Grinder, Boyne City</div>
    </div>
</div>

<% include public/views/footer.ejs %>