<%include public/views/header.ejs%>

<body>
<header class="expanded" id="loginHeader"><a href="index.ejs">&nbsp;&nbsp;&larr; Home</a></header>
<br>
<img src="../images/petoskeylogo.png" class="float-center loginImage" width="200">

<div class="login-page">
    <div class="form">
        <form class="login-form">
            <input type="text" placeholder="email address"/>
            <input type="password" placeholder="password"/>
            <button><a class="login" href="index.ejs">login</a></button>
            <p class="message">Not registered? <a href="signup.ejs">Create an account</a></p>
        </form>
    </div>
</div>

<% include public/views/footer.ejs %>