<%include public/views/header.ejs%>

<header>
    <div class="expanded text-center" id="header">
        City of Petoskey
    </div>
    <div class="expanded text-left" id="menu">
        <div id="o-wrapper" class="o-wrapper">
            <div class="c-buttons">
                <button id="c-button--slide-left" class="c-button"><img src="/public/images/bar-icon.png" width="30">Menu</button><span class="text-right" id="login"><a href="login.ejs">Login</a> | <a href="signup.ejs">Create Account</a></span>
            </div>
        </div>
        <div id="c-mask" class="c-mask"></div>
        <nav id="c-menu--slide-left" class="c-menu c-menu--slide-left">
            <button class="c-menu__close">&larr; Close Menu</button>
            <ul class="c-menu__items">
                <li class="c-menu__item"><a href="/public/views/index.ejs" class="c-menu__link">Home</a></li>
                <li class="c-menu__item"><a href="/public/views/report.ejs" class="c-menu__link">Report an Infrastructure Issue</a></li>
                <li class="c-menu__item"><a href="/public/views/parks.ejs" class="c-menu__link">Parks and Rec.</a></li>
                <li class="c-menu__item"><a href="/public/views/guide.ejs" class="c-menu__link">City Guide</a></li>
                <li class="c-menu__item"><a href="/public/views/calendar.ejs" class="c-menu__link">Calendar</a></li>
                <li class="c-menu__item"><a href="/public/views/resources.ejs" class="c-menu__link">Resources</a></li>
            </ul>
        </nav>
    </div>
</header>
<body>

<div class="pageHeader text-center">Report an Infrastructure Issue</div>

<div id="map"></div>
<!-- Replace the value of the key parameter with your own API key. -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhqs_vQY4iQo_Tx7y2Upldtt62T5M4i7E&callback=initMap" async defer></script>

<% include public/views/footer.ejs %>