<%include public/views/header.ejs%>

<body>

<header class="expanded" id="loginHeader"><a href="/public/views/index.ejs">&nbsp;&nbsp;&larr; Home</a></header>
<br>
<img src="../images/petoskeylogo.png" class="float-center loginImage" width="200">

<div class="login-page">
    <div class="form">
    <form class="login-form">
        <input type="text" placeholder="full name"/>
        <input type="password" placeholder="password"/>
        <input type="text" placeholder="email address"/>
        <button>create</button>
        <p class="message">Already registered? <a href="/public/views/login.ejs">Sign In</a></p>
    </form>
    </div>
</div>

<%include public/views/footer.ejs%>