@import "foundation.min.css";
@import url('https://fonts.googleapis.com/css?family=Lato');

a {
  color: inherit;
}

body {
  font-family: "Lato";
}

#header {
  background-color: #0a4063;
  font-size: 36px;
  color: white;
  font-weight: 800;
  padding-top: .6rem;
  padding-bottom: .6rem;
  text-shadow:1px 1px 1px #000;
}

#menu{
  background-color: #8a8a8a;
  font-size: 22px;
  color: white;
  font-weight: 800;
  padding-top: .3rem;
  padding-bottom: .3rem;
  text-shadow:1px 1px 1px #000;
  background-image: url("../images/stone9.png");
}

#map {
  height: 100%;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.tabOuter {
  margin-top: 1.6rem;
  margin-left: 1.4rem;
  margin-right: 1.4rem;
  padding: 10px;
  padding-top: 20px;
  background-color: #0a4063;
}

.tabInner {
  margin-top: .5rem;
  margin-bottom: .3rem;
}

.tabText{
  color: white;
  font-size: 20px;
  font-weight: 600;
  margin-top: .3rem;
  text-shadow:1px 1px 1px #000;
}

.c-menu {
  position: fixed;
  z-index: 200;
  background-color: #0a4063;
  transition: transform 0.3s;
}

.c-menu__items {
  list-style: none;
  margin: 0;
  padding: 0;
}

/**
 * Close button resets.
 */
.c-menu__close {
  color: #fff;
  background-color: #0a4063;
  font-size: 14px;
  border: none;
  box-shadow: none;
  //border-radius: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

/**
 * Close button resets.
 */
.c-menu__close:focus {
  outline: none;
}

/**
 * Body states.
 *
 * When a menu is active, we want to hide the overflows on the body to prevent
 * awkward document scrolling.
 */
body.has-active-menu {
  overflow: hidden;
}

/**
 * Mask component
 */

.c-mask {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 0;
  height: 0;
  background-color: #000;
  opacity: 0;
  transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
}

.c-mask.is-active {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  transition: opacity 0.3s;
}

.c-menu--slide-left,
.c-menu--slide-right,
.c-menu--push-left,
.c-menu--push-right {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

@media all and (min-width: 320px) {
  .c-menu--slide-left,
  .c-menu--slide-right,
  .c-menu--push-left,
  .c-menu--push-right {
    width: 300px;
  }
}

.c-menu--slide-left .c-menu__item,
.c-menu--slide-right .c-menu__item,
.c-menu--push-left .c-menu__item,
.c-menu--push-right .c-menu__item {
  display: block;
  text-align: center;
  border-top: solid 1px white;
  border-bottom: solid 1px #0a4063;
}

.c-menu--slide-left .c-menu__item:first-child,
.c-menu--slide-right .c-menu__item:first-child,
.c-menu--push-left .c-menu__item:first-child,
.c-menu--push-right .c-menu__item:first-child {
  border-top: none;
}

.c-menu--slide-left .c-menu__item:last-child,
.c-menu--slide-right .c-menu__item:last-child,
.c-menu--push-left .c-menu__item:last-child,
.c-menu--push-right .c-menu__item:last-child {
  border-bottom: none;
}

.c-menu--slide-left .c-menu__link,
.c-menu--slide-right .c-menu__link,
.c-menu--push-left .c-menu__link,
.c-menu--push-right .c-menu__link {
  display: block;
  padding: 12px 24px;
  color: #fff;
}

.c-menu--slide-left .c-menu__close,
.c-menu--slide-right .c-menu__close,
.c-menu--push-left .c-menu__close,
.c-menu--push-right .c-menu__close {
  display: block;
  padding: 12px 24px;
  width: 100%;
}

.c-menu--slide-left,
.c-menu--push-left {
  top: 0;
  left: 0;
  transform: translateX(-100%);
}

@media all and (min-width: 320px) {
  .c-menu--slide-left,
  .c-menu--push-left {
    transform: translateX(-300px);
  }
}

.c-menu--slide-left.is-active,
.c-menu--push-left.is-active {
  transform: translateX(0);
}

.o-wrapper.has-push-left {
  transform: translateX(100%);
}

@media all and (min-width: 320px) {
  .o-wrapper.has-push-left {
    transform: translateX(300px);
  }
}

.o-wrapper.has-push-right {
  transform: translateX(-100%);
}

@media all and (min-width: 320px) {
  .o-wrapper.has-push-right {
    transform: translateX(-300px);
  }
}

.pageHeader {
  color: #0a4063;
  font-size: 30px;
  font-weight: 600;
  padding-top: .6rem;
  padding-bottom: .6rem;
}

.bodyText {
  font-size: 18px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.bodyHeader {
  color: #0a4063;
  font-size: 18px;
  font-weight: bold;
}

.footer {
  background-color: #0a4063;
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  color: white;
}

.footerTop{
  background-color: #8a8a8a;
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  color: white;
}

#login {
  margin-left: 40px;
  text-shadow: none;
}


.loginImage {
  z-index: 100;
  position: relative;
}

.login-page {
  position: relative;
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
  margin-top: -50px;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
}
.form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  text-transform: uppercase;
  outline: 0;
  background: #0a4063;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  //-webkit-transition: all 0.3 ease;
  //transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #2245b3;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #0a4063;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}

#loginHeader {
  background-color: #0a4063;
  font-size: 20px;
  color: white;
  font-weight: 500;
  padding-top: .6rem;
  padding-bottom: .6rem;
}

.element-animation{
  animation: animationFrames ease 1s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards; /*when the spec is finished*/
  -webkit-animation: animationFrames ease 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/
  -moz-animation: animationFrames ease 1s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -moz-animation-fill-mode:forwards; /*FF 5+*/
  -o-animation: animationFrames ease 1s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -o-animation-fill-mode:forwards; /*Not implemented yet*/
  -ms-animation: animationFrames ease 1s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
  -ms-animation-fill-mode:forwards; /*IE 10+*/
}

@media only screen
and (max-width: 479px) {
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
}

@media only screen
and (min-width: 800px) {
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
  }
}